<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="utf-8">
    <title>Proč volit Zelené?</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"/>
    <meta name="title" content="Proč volit Zelené?" />
    <meta property="og:title" content="Proč volit Zelené?" />
    <meta property="og:site_name" content="Proč volit Zelené?"/>
    <meta property="og:image" content="http://www.procvolitzelene.cz/preview.png" />
		<meta name="keywords" content="Volby 2021, Strana zelených" />
		<meta name="description" content="Zjisti si, jak se shoduješ s programem Strany zelených pro parlamentní volby 2021." />
		<meta property="og:description" content="Zjisti si, jak se shoduješ s programem Strany zelených pro parlamentní volby 2021." />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" charset="utf-8"></script>
    <script src="q.js" charset="utf-8"></script>
    <script src="/procvolit.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/procvolit.css"/>
    <script>$(document).ready(init);</script>
  </head>
  <body>
    <div id="header">
      <div class="inside">
        <a href="/" class="logo"></a>
        <div class="headline"><a href="/">PROČ VOLIT ZELENÉ?</a></div>
        <div class="social">
          <a target="_blank" class="facebook" href="https://www.facebook.com/sharer/sharer.php?u=http%3A//www.procvolitzelene.cz/"></a>
          <a target="_blank" class="twitter" href="https://twitter.com/home?status=http%3A//www.procvolitzelene.cz/"></a>
        </div>
      </div>
    </div>
    <div id="envelope">
      <div class="info">
        <%-body%>
      </div>
    </div>
    <div id="footer">
      <div class="bar"></div>
      <div class="inside">
        <p class="bold">Proč volit Zelené?</p>
        <p>Zjisti si, jak se shoduješ s programem Strany zelených pro parlamentní volby 2021.</p>
        <p>Toto není oficiální stránka Strany zelených. <a href="/info/">Info »</a></p>
      </div>
      <div class="inside">
        <p>
          <div><a target="_blank" class="external" href="https://www.zeleni2021.cz/">Program Strany zelených »</a></div>
          <div><a target="_blank" class="external" href="https://www.zeleni.cz/">Strana zelených »</a></div>
        </p>
      </div>
      <div class="inside">
        <div class="social">
          <a target="_blank" class="facebook" href="https://www.facebook.com/sharer/sharer.php?u=http%3A//www.procvolitzelene.cz/"></a>
          <a target="_blank" class="twitter" href="https://twitter.com/home?status=http%3A//www.procvolitzelene.cz/"></a>
        </div>
        <a target="_blank" class="github" href="https://github.com/michmech/procvolit">github.com/michmech/procvolit</a>
      </div>
    </div>
  </body>
</html>
